---
import Logo from './Logo.astro'
---

<header id='header-nav' class='fixed top-0 w-full px-6 py-4 z-50'>
  <div class='max-w-7xl mx-auto flex items-center justify-between gap-16'>
    <a href='/' class='col-span-1'> <Logo class='w-12' /></a>
    <nav
      class='fixed w-full h-dvh inset-0 bg-[#151a36]/90 text-2xl flex flex-col items-center justify-center gap-8 -translate-y-full transition-transform duration-300 target:translate-y-0 md:static md:h-[initial] md:bg-[initial] md:text-xl md:flex-row md:translate-y-[initial]'
    >
      <ul class='flex gap-4'>
        <li><a class='hover:underline' href='/info'>INFO</a></li>
        <li><a class='hover:underline' href='/archivo'>ARCHIVO</a></li>
      </ul>
    </nav>
    <a
      href='#'
      class='border rounded-full inline-block border-white px-4 py-2 justify-self-end hover:bg-white hover:text-black duration-300'
      >ESLAND: EL DOCUMENTAL</a
    >
  </div>
</header>
